the point is that you can run it and it works. Running by user - fallback option and additional bonus point to use it outside of the agent
